<div class="comic-card">
    <!-- Imagen -->
    <section>
        <a [routerLink]="['/comic',comic.nombreId]">
            <img [src]="comic.imgUrl[0]" alt="Cómic">
        </a>
    </section>
    <!-- Imagen -->
    <!-- Titulo -->
    <section>
        <a [routerLink]="['/comic',comic.nombreId]">
            <h3>
                {{comic.nombre}}
            </h3>
        </a>
        <p>{{comic.precio|currency:'MXN'}}</p>
    </section>
    <!-- Titulo -->
    <section>
        <div class="botones-comic">
            <span (click)="onAddToCart()" class="material-icons-outlined">
      add_shopping_cart
      </span><span (click)="darAmor()" class="material-icons-outlined">
        favorite_border
        </span>
            <span (click)="mostrarDetalle()" class="material-icons-outlined">
          lightbulb
          </span>
        </div>
    </section>
</div>