<div class="artista-card">

    <img [src]="artista.imgPerfil" [alt]="artista.nombre">
    <h3>{{artista.nombre}}</h3>
    <p>{{artista.descripcionCorta}}</p>
    <div class="redes">
        <span class="material-icons-outlined">
    photo_camera
    </span>
        <span class="material-icons-outlined">
      sentiment_very_satisfied
      </span>
        <span class="material-icons-outlined">
        flutter_dash
        </span>
        <span class="material-icons-outlined">
          color_lens
          </span>
    </div>
</div>