<div class="con-cuchara">
    <div class="links">
        <section class="comunidad">
            <h2>Unete a la comunidad
            </h2>
        </section>
        <section class="button-social-a"><a href="" class="button-cool">Discord</a></section>
        <section></section>
        <section class="button-social-b"><a href="" class="button-cool">E-books</a></section>

        <section class="redes">
            <h3>Redes</h3>
        </section>
        <section class="centrado"><a href="" class="button-cool">Instagram</a></section>
        <section class="centrado"><a href="" class="button-cool">Facebook</a></section>
        <section class="centrado"><a href="" class="button-cool">Twitter</a></section>
        <section class="centrado"><a href="" class="button-cool">Devian Art</a></section>
        <section class="centrado"><a href="" class="button-cool">Pinterest</a></section>
    </div>
</div>

<div class="con-cucharita">
    <div class="links">
        <section class="comunidad">
            <h2>Unete a la comunidad
            </h2>
        </section>
        <section class="button-social-a"><a href="" class="button-cool">Discord</a></section>

        <section class="button-social-b"><a href="" class="button-cool">E-books</a></section>

        <section class="redes">
            <h3>Redes</h3>
        </section>
        <section class="centrado"><a href="" class="button-cool">Instagram</a></section>
        <section class="centrado"><a href="" class="button-cool">Facebook</a></section>
        <section class="centrado"><a href="" class="button-cool">Twitter</a></section>
        <section class="centrado"><a href="" class="button-cool">Devian Art</a></section>
        <section class="centrado"><a href="" class="button-cool">Pinterest</a></section>
    </div>
</div>