.sumatoria {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 50px;
}

.suma-precios {
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    min-height: 20px;
    height: fit-content;
}

@media screen and (min-width: 40em) and (max-width: 63.9em) {
    .sumatoria {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        width: 100%;
        height: 50px;
    }
}