@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url(./styles/reset.scss);
@import '~swiper/css';
* {
    margin: 0px;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

.bg-yellow {
    background-color: yellow;
}

.transition {
    transition: background 0.25s ease, color 0.25s ease;
}

.active-slide {
    background-color: green;
    color: #fff;
}

.bg-blue {
    background-color: blue;
    color: #fff;
}
